{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">
      
      <div class="section-content">
        <h2>welcome to the best library.</h2>
        <a href="/newbook" class="btn-primary">New Book</a>
        <a href="/about" class="btn-secondary">About me</a> 
        <a href="/bookslist" class="btn-primary">Books List</a>
      </div>

      <div class="section-device">
        <img src="static/img/s600.jpg">
      </div>
      
      <div class="clearfix"></div>

    </div>
  </main>
{% endblock %}